@font-face {
  font-family: main;
  src: url(https://github.com/cs340-20/ModusVivendi/blob/master/client/src/components/home/Fonts/GothamUltraIta.woff);
}

.heading {
    text-align: center; 
     font-style: bold;
    font-size: 50px;
    font-face: main;
}

.paragraph {
    text-align: center; 
    font-size: 20px;
    font-face: main;
}
