.heading {
    text-align: center; 
     font-weight: bold;
    color: #FF8200;
    font-size: 50px;
      font-family: Gothem-Black;
  src: url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham" rel="stylesheet" type="text/css"/);
}
