.workout {
    text-align: center;
}
h1, p {
    text-align: center;
    font-face:main;
}

.heading {
    text-align: center; 
     font-weight: bold;
}

.bu {
    font-weight: bold;
    text-decoration: underline;
}

