
/*.Input-form {
  width: 30%;
  padding: 30px;
}*/
.all-form{
  width: 35%;
  align: center
  padding: 30px;
}
.Input-form {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #95afc0;
  padding: 14px 10px;
  width: 35%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}
